{% extends 'base.html.twig' %}


{% block body %}
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      font-family: sans-serif;
      background-color: crimson;
      overflow: hidden;
    }

    .container {
      position: absolute;
      top: 15%;
      left: 35%;
    }

    .container > * {
      text-transform: uppercase;
      color: gold;
      text-align: center;
      vertical-align: middle;
    }

    .container > h1 {
      font-size: 55px;
    }

    .container > h2 {
      font-size: 10px;
    }
  </style>
  <div class="container">
    <h1>Hello World !</h1>
    <h3>Merci merci</h3>
    <img src="https://cdn.shopify.com/s/files/1/1061/1924/files/Hugging_Face_Emoji_2028ce8b-c213-4d45-94aa-21e1a0842b4d_large.png?15202324258887420558" width: 200px>
  </div>
{% endblock %}
